<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Regule</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Regule", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        @Html.ActionLink("Pessoas","Index","Pessoas",new { area = ""}, new {@class = "dropdown-toggle"})
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Fisicas","Index","PFisicas")</li>
                            <li>@Html.ActionLink("Juridicas","Index","PJuridicas")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Negociações","","",new { area = ""}, new {@class = "dropdown-toggle"})
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Compras","Index","Compras")</li>
                            <li>@Html.ActionLink("Vendas","Index","Vendas")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Unidades", "Index", "Unidades")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Regule</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Main.js")
    <script>
    $('.dropdown').hover(
        function() {
            $(this).find('.dropdown-menu').stop(true, true).fadeIn();
        },
        function() {
            $(this).find('.dropdown-menu').stop(true, true).fadeOut();
        }
    );
    </script>
</body>
</html>
