@model Regule.Models.Juridica

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Esta certo que deseja deletar?</h3>
<div>
    <h4>Pessoa Jurídica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Fornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Fornecedor)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a lisagem", "Index")
        </div>
    }
</div>
