@model IEnumerable<Regule.Models.Venda>

@{
    ViewBag.Title = "Vendas";
}

<h2>Vendas</h2>
<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-default" })
</p>
    
    @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label">
            Cliente
        </label>
        @Html.DropDownListFor(model => model.First().IdPessoa, ViewBag.Clientes as IEnumerable<SelectListItem>
            ,"Selecione...",new { @class = "form-control",@data_val="false" })
    </div>
    <div class="form-group">
        <label class="control-label">
            Período
        </label> 
        <input class="form-control" type="date" id="Data" name="Data"/>
</div>
    
    <div class="form-group">
        <label class="control-label">
            Produto
        </label>        
        @Html.DropDownListFor(model => model.First().VendaProdutos[0].IdPro, ViewBag.Produtos as IEnumerable<SelectListItem>
            ,"Selecione...",new { @class = "form-control",@data_val="false" })
        @Html.ValidationMessageFor(model => model.First().VendaProdutos[0].IdPro, "", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Pesquisar" class="btn btn-default"/>
}
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <span class="btn-group btn-group-sm">
                    <a href="Vendas/Edit/@item.Id" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="Vendas/Details/@item.Id" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="Vendas/Delete/@item.Id" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
            </td>
        </tr>
    }

</table>
