@model Regule.Models.Compra

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<table class="hidden sample">
    @Html.EditorFor(model=>model.CompraProdutos[0], new { htmlAttributes = new { @class = "form-control" } })
</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Compra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Pessoa.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Pessoa.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdPessoa, ViewBag.Pessoas as IEnumerable<SelectListItem>,"Vendedor",new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPessoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desconto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desconto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Desconto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="panel panel-default">
            <table class="table table-hover">
                <tr>
                    <th>
                        Produto
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Unidade
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        <div class="btn btn-default adicionar">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </div>
                    </th>
                </tr>
                @Html.EditorFor(model=>model.CompraProdutos, new { htmlAttributes = new { @class = "form-control" } })
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




