@model IEnumerable<Regule.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>
<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <span class="btn-group btn-group-sm">
                    <a href="Produtos/Edit/@item.Id" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="Produtos/Details/@item.Id" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="Produtos/Delete/@item.Id" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
            </td>
        </tr>
    }

</table>
