@model Regule.Models.VendaProduto
                <tr class="re-item">
                    <td>
                        @Html.DropDownListFor(m => Model.IdPro, ViewBag.Produtos as IEnumerable<SelectListItem>
                            ,"Produto",new { @class = "form-control" })
                    </td>
                

                    <td>
                        @Html.EditorFor(m => Model.Quantidade , new { @class = "form-control", @data_val_number="O campo deve ser um número" })
                        @Html.ValidationMessageFor(m => Model.Quantidade, "", new { @class = "text-danger" })
                    </td>


                    <td>
                        @Html.EditorFor(m => Model.Preco , new { @class = "form-control", @data_val_number="O campo deve ser um número" })
                        @Html.ValidationMessageFor(m => Model.Preco, "", new { @class = "text-danger" })
                    </td>
                    
                    <td>
                        <div class="btn btn-default remover" >
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </div>
                    </td>
                </tr>
