@model IEnumerable<Regule.Models.Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </th>
        <th>
            @Html.ActionLink("Novo", "Create",null,new {@class="btn btn-default"})
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                <span class="btn-group">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id},new{ @class="btn btn-sm btn-warning"})
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new{@class="btn btn-sm btn-info"})
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id },new{@class="btn btn-sm btn-danger"})
                </span>
            </td>
        </tr>
    }

</table>
