@model IEnumerable<Regule.Models.Unidade>

@{
    ViewBag.Title = "Unidades";
}

<h2>Unidades</h2>
<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <span class="btn-group btn-group-sm">
                    <a href="Edit/@item.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="Details/@item.Id" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="Delete/@item.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
            </td>
        </tr>
    }

</table>
